.header, .footer {
    background: $primary
}

.header {
    border-bottom: 2px solid rgba(131, 117, 143, 0.5);

    a {
        text-decoration: none;
    }

    .pfp {
        width: 30px;
        height: 30px;
        margin-left: 10px;
    }
}

.footer {
    border-top: 2px solid rgba(131, 117, 143, 0.5);
}

.basic-text {
    color: $four;
}

.basic-link {
    color: $link-color;
    margin-left: 20px;
    margin-right: 10px;

    &:hover, &:active {
        color: $link-hover-color;
    }

    &:focus {
        color: $link-color;
    }
}
