// Variables and stuff

// Include before including bootstrap

$primary: #000000;
$secondary: #b240fb;
$tertiary: #e0c2fe;
// $four: #ffffff;
$four: azure;

$link-color: $four;
$nav-link-color: $four;
$navbar-light-active-color: $four;
$link-hover-color: $tertiary;

@mixin gutters {
    @media (min-width: 576px) {
        max-width: 540px;
    }

    @media (min-width: 768px) {
        max-width: 720px;
    }

    @media (min-width: 992px) {
        max-width: 960px;
    }

    @media (min-width: 1200px) {
        max-width: 1140px;
    }

    @media (min-width: 1400px) {
        max-width: 1320px;
    }
}

@mixin shadow {
    box-shadow: 10px 5px 5px $secondary;
}

@mixin button-shadow {
    box-shadow: 4px 3px 3px $secondary;
}