@import './custom.scss';

.upload-page {
    width: 100vw;
    max-width: 100vw;
    min-height: 100vh;
    height: calc(100vh - 116px);

    background-color: $secondary;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .upload-body {
        background-color: $tertiary;
        height: calc(100vh - 116px);

        .upload-form {
            height: 100%;

            display: flex;
            flex-direction: column;
            justify-content: space-around;

            .row {
                margin-top: 60px;
            }

            img {
                margin-top: 20px;
                max-height: 50vh;
                width: 100%;
            }

            input {
                @include button-shadow();
            }

            .buttons {
                align-self: flex-end;

                button {
                    @include button-shadow();

                    background-color: $tertiary;
                    border-radius: 20px;
                    border: 2px solid black;
                    margin-right: 40px;
                    color: black;

                    &:hover {
                        background-color: $secondary;
                    }
                }
            }
        }
    }
}

@media (max-width: 800px) {
    .upload-body {
        height: 100%;
        margin-top: 58px;

        .upload-form {
            height: 100%;
        }
    }
}